# Thanks to: https://gist.github.com/jdbartlett/444295
 
# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/themes/

#!wp-content/plugins/
# Ignore everything in the "plugins" directory, except the plugins you specify
#wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/point/

wp-content/themes/point/functions/orig_rlee_video.php
wp-content/themes/point/functions/rlee_video.php
wp-content/themes/point/one.php
wp-content/themes/point/orig_header.php
wp-content/themes/point/orig_sidebar.php
wp-content/themes/point/orig_single_draft.php
wp-content/themes/point/page2.php
wp-content/themes/point/rlee_tag.php
wp-content/themes/point/yao-page.php
